
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
     margin: 0;
     padding: 0;
}
body {
     
     width: 100dvw;
     height: 100dvh;
     background-color: rgb(255, 0, 0);
}
div{ 
     position: absolute;
     left: 50%;
     top:50%;
     transform:translate(-50%,-50%);
     width: 300px;
     height:300px;
     background-color: aliceblue;
     overflow: hidden;
     padding: 20px;
     box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.829);}
.corte-img{  

     position: relative;
     left: 50%;
     top:50%;
     transform:translate(-50%,-50%);
     width:300px;
     height: 250px;
     background-color: aliceblue;
     overflow: hidden;
     padding:0%;
     box-shadow:none;
     
}
.photo{


     position: relative;
     left: 50%;
     top:50%;
     transform:translate(-50%,-50%);
     width:300px;
     height: 250px;
     background-color: aliceblue;
     overflow: hidden;
     padding:0%;
     box-shadow:none;




}
     
img{
     height: 80%;
     
     
}
h1{
    
}
iframe{
     width: 300px;
     height: 300px;
}
p{
     bottom: 70px;
     font-size: 15px;
     width: 300px;
     height: 50x;
     font-family: "Montserrat", sans-serif;
     color:blueviolet;
     background-color: blanchedalmond;
}
button{
     width: 300px;
     height: 90x;
}
